@font-face { font-family: JuneBug; src: url('fonts/junebug/JUNEBUG.TTF'); } 
@font-face { font-family: Chocolatines; src: url('fonts/chocolatines/Chocolatines.ttf'); }

h1 {
  font-family: JuneBug;
  text-align: center;
  font-size: 250%;
}

h3 {
  font-family: Chocolatines;
  text-align: center;
  font-size: 250%;
}

body {
  background-color: LightCyan;
}

div.code {
  border-radius: 5px;
  background-color: #d5ced7;
  padding: 3px;
  font-family: monospace;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
ul.navbar li {
  float: left;
  border-right:1px solid #bbb;
}
ul.navbar li:last-child {
  border-right: none;
}
ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.navbar li a:hover:not(.active) {
  background-color: #111;
}
ul.navbar li a.active {
  background-color: #4CAF50;
}