@font-face { font-family: JuneBug; src: url('fonts/junebug/JUNEBUG.TTF'); } 
@font-face { font-family: Chocolatines; src: url('fonts/chocolatines/Chocolatines.ttf'); }

h1 {
  font-family: JuneBug;
  text-align: center;
  font-size: 250%;
}

h3 {
  font-family: Chocolatines;
  text-align: center;
  font-size: 250%;
}

body {
  background-color: LightCyan;
}

div.code {
  border-radius: 5px;
  background-color: #d5ced7;
  padding: 3px;
}
